div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #f5f5f5;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h4 {
    margin-bottom: 20px;
    color: #333;
}

p {
    color: #666;
}