<h1>Student Panel</h1>

<h2>Available Exams</h2>
<form *ngFor="let exam of exams" (ngSubmit)="submitAnswer(exam)">
  <h3>{{ exam.title }}</h3>
  <p>{{ exam.question }}</p>
  <label>
    <input
      type="radio"
      [value]="exam.options[0]"
      name="{{ exam.title }}"
      [(ngModel)]="studentAnswers[exam.title]"
    />
    {{ exam.options[0] }}
  </label>
  <label>
    <input
      type="radio"
      [value]="exam.options[1]"
      name="{{ exam.title }}"
      [(ngModel)]="studentAnswers[exam.title]"
    />
    {{ exam.options[1] }}
  </label>
  <button type="submit">Submit</button>
</form>
